<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{ % static 'css/style.css' % }">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Courses</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero nobis tempora doloremque excepturi voluptate magni maiores alias, ea ipsum modi praesentium inventore fuga odit dolore illum doloribus nulla quis, mollitia earum necessitatibus. Aliquam nisi perferendis quae commodi quod repellendus reprehenderit culpa, voluptas iure quo voluptatibus iusto tenetur expedita! Recusandae, dolor.</p>
</body>
</html>